// colors 
$green:#79B282;
$white-gray:#CFCFCF;
$input-bgcolor:#504B4A;
$white:#fff;
$black:#403C3B;
$dark-green:#618967;
$btn-gradient:linear-gradient(115deg, #618967 5.11%, #72A479 94%);
$border-bottom:rgba(255, 255, 255, 0.10);
$bg-color: linear-gradient(90deg, #494544 0%, #504B4A 100%);