@use "../abstracts/variables";
@use "../abstracts/mixin";

@media (min-width:1280px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1272px !important;
    }
}

.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding: 23px 0;

    .menu_media {
        display: none;

        .menu_lines {
            margin-bottom: 5px;
            margin-left: 5px;

            .menu_line {
                width: 25px;
                height: 3px;
                left: 83.78%;
                right: -51.35%;
                top: 95.26%;
                bottom: -3.2%;
                border-radius: 50px;

                background: rgb(101, 144, 108);
            }

            .margin_b {
                margin-bottom: 4px;
            }
        }

        p {
            color: variables.$white;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0%;
        }
    }

    &__logo {
        color: variables.$white;
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 3.75px;
    }

    &__search-box {
        margin: 0 30px 0 72px;
        width: 555px;
    }

    &__search {
        color: variables.$white-gray;
        font-size: 18px;
        border: none;
        padding: 15px 17px 15px 48px;
        background-color: variables.$input-bgcolor;
        border-radius: 10px;
    }

    &__search::placeholder {
        color: variables.$white-gray;
    }

    &__location-icon {
        @include mixin.search-icon($left: 18px)
    }

    &__search-icon {
        @include mixin.search-icon($right: 19px)
    }

    &__contact-box {

        .phone-bg {
            background-color: variables.$dark-green;
            border-radius: 50%;
            padding: 0px 9px;
            height: 32px;
            line-height: 32px;
        }
    }


    &__contact-number {
        margin-left: 10px;

        span {
            display: block;
            color: variables.$white-gray;
            font-size: 12px;
            line-height: 20px;
        }

        a {
            color: variables.$white;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
        }
    }

    &__cart-btn {

        .btn {
            display: flex;
            align-items: center;

        }
    }
}

.header {
    .d-flex {

        justify-content: space-between;
    }
}

// ! media

@media (max-width: 1200px) {
    .header {
        &__search-box {
            margin: 0 30px 0 72px;
            width: 325px !important;
        }
    }
}

@media (max-width: 990px) {
    .header {
        justify-content: space-between !important;

        .menu_media {
            display: flex;
            flex-direction: column;
        }

        &__search-box {
            margin: 0 10px 0 12px !important;
            width: 325px !important;
        }

        &__search-box {
            display: none;
        }

        &__search-box_media {
            display: flex !important;
            margin-top: 9px;
        }

        &__contact-box {
            display: flex;
            justify-content: center !important;
            top: 0;
            z-index: 999;
            width: 35% !important;
            height: 100% !important;
            background-color: rgb(59, 59, 59);
            position: fixed;
            right: -35%;
            transition: 0.4s all linear !important;

            .phone-bg {
                top: 46px;
                left: 28px;
            }
            .header__contact-number {
                top: 40px;
                .tel {
                    font-size: 12px;
                }
            }

            .d-none {
                right: -45px;
                top: -25px;
                display: flex !important;
            }
        }

        &__contact-box_2 {
            right: 0;
            transition: 0.4s all linear !important;
        }



        &__cart-btn {
            margin-left: 0 !important;
            padding: 0;
            flex-direction: column !important;

            .btn {
                flex-direction: column;
                padding: 4px 13px 14px 14px;

                p {
                    padding-top: 5px;
                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                }

                .product__value {
                    display: none !important;
                }

                .d-none {
                    margin-bottom: 5px;
                    display: flex !important;
                }
            }
        }
    }
}